<!-- Solution 1
<a href="#" (click)="onFollow($event)">Follow</a>
<a href="#" (click)="onShare($event)">SHARE</a>
<a href="#" (click)="onBuy($event)">Buy</a>
-->

<!-- Solution 2
<a href="#" (click)="onAction('Follow', $event)">Follow</a>
<a href="#" (click)="onAction('Share', $event)">SHARE</a>
<a href="#" (click)="onAction('Buy', $event)">Buy</a>
-->

<!-- Solution 3
<a href="#" (click)="onAction($event)">Follow</a>
<a href="#" (click)="onAction($event)">SHARE</a>
<a href="#" (click)="onAction($event)">Buy</a>
-->

<a href="#" (click)="onAction(follow, $event)">Follow</a>
<a href="#" (click)="onAction(share, $event)">SHARE</a>
<a href="#" (click)="onAction(buy, $event)">Buy</a>
<a href="#" (click)="delete(game)">Supprimer</a>
